<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<style>
	#publish, #content {
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}
</style>
<script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#publish').click(function() {
			$('#publish').attr('disabled', 'disabled');
			$.ajax({
				type: 'POST',
				url: '/message',
				data: {
					message: $('#content').val()
				},
				success: function() {
					$('#content').val('');
					$('#publish').removeAttr('disabled');
				}
			});
		});
	});
</script>
</head>
<body>
	<textarea rows="5" cols="40" id="content"></textarea>
	<input id="publish" type="button" value="Publish" id="publish">
</body>
</html>
