<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/index.css' />
<script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/lib/socket.io-1.2.1.min.js"></script>
<script type="text/javascript" src="js/index.js">
</script>
</head>
<body>
	<div id="message" <% if(!currentMessage) { %>style="display: none;"<% } %>>
		<div id="message_content"><%= currentMessage?currentMessage:'' %></div>
	</div>
	<div id="picture">
		<img src="<%= currentActivity.type === 'picture'? currentActivity.value : '' %>" />
	</div>
	<iframe id="website" src="<%= currentActivity.type === 'website'? currentActivity.value : '' %>" scrolling="no"></iframe>
</body>
</html>