html, body {
	overflow: hidden;
	margin: 0px;
}

#website {
	width: 100%;
	height: 2000px;
	border: 0px;
}

#picture img {
	display: block;
	margin: auto;
}

#message {
	padding: 10px;
	position: fixed;
	background: #006599;
	background: url(/images/bubble.png) no-repeat;
	border-radius: 5px;
	color: white;
	font-size: 35px;
	margin: auto;
	width: 512px;
	height: 512px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#message_content {
	height: 250px;
	width: 340px;
	margin: auto;
	margin-top: 115px;
	vertical-align: middle;
}
