html, body {
	overflow: hidden;
	margin: 0px;
}

#website {
	width: 100%;
	height: 2000px;
	border: 0px;
}

#picture img {
	display: block;
	margin: auto;
}

#message {
	padding: 10px;
	position: fixed;
	background: #006599;
	border-radius: 5px;
	color: white;
	font-size: 35px;
	margin: auto;
	width: 500px;
	height: 150px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
